//
//  NBUCore_Debug.xcconfig
//  NBUCore
//
//  Created by エルネスト 利辺羅 on 12/07/25.
//  Copyright (c) 2012年 CyberAgent Inc. All rights reserved.
//

//////////////////////////////////////////////////////////////////////////
//              *** YOU DON'T NEED TO MODIFY THIS FILE ***              //
// You can change these values directly in your Target's Build Settings //
//////////////////////////////////////////////////////////////////////////

///////////
// DEBUG //
///////////

// Default preprocessor macros that can be used with "#ifdef DEBUG..."
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1

// Bundle ID
// *** In your Info.Plist set the "Bundle Identifier" to ${BUNDLEID} ***
BUNDLEID = jp.co.cyberagent.nbu.${PRODUCT_NAME:rfc1034identifier}-dev

// Display name for device's home screen
// *** In your Info.Plist set the "Bundle display name" to ${DISPLAYNAME} ***
DISPLAYNAME = ${PRODUCT_NAME}-dev

// Compatibility for custom schemes (ex. Release_stg, etc.)
// *** Override if necessary in your target's build settings ***
CUSTOM_SCHEME_PATH = $(BUILD_DIR)/Debug$(EFFECTIVE_PLATFORM_NAME)

// Code Sign Identities
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer

// Compile fast and keep all debugging symbols
ONLY_ACTIVE_ARCH = YES
DEPLOYMENT_POSTPROCESSING = NO
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO

////////////
// COMMON //
////////////

// Deployment targets: iPhone/iPad, iOS4.x+
TARGETED_DEVICE_FAMILY = 1,2
IPHONEOS_DEPLOYMENT_TARGET[sdk=iphoneos*] = 4.0
IPHONEOS_DEPLOYMENT_TARGET[sdk=iphoneos6.*] = 4.3
IPHONEOS_DEPLOYMENT_TARGET[sdk=iphonesimulator*] = 4.3

// Architectures
ARCHS[sdk=iphoneos*] = armv6 armv7
ARCHS[sdk=iphoneos6.*] = $(ARCHS_STANDARD_32_BIT)
ARCHS[sdk=iphonesimulator*] = i386

// Base SDK: Latest
SDKROOT = iphoneos

// Warnings
CLANG_WARN_OBJC_MISSING_PROPERTY_SYNTHESIS = YES

// Paths
ALWAYS_SEARCH_USER_PATHS = NO

// The places to search for headers
HEADER_SEARCH_PATHS = "$(BUILT_PRODUCTS_DIR)/../../Headers" "$(BUILT_PRODUCTS_DIR)/include" "$(BUILT_PRODUCTS_DIR)/usr/local/lib/include" "$(BUILT_PRODUCTS_DIR)/usr/local/include"

