//
//  NBUCore_Production.xcconfig
//  NBUCore
//
//  Created by エルネスト 利辺羅 on 12/07/25.
//  Copyright (c) 2012年 CyberAgent Inc. All rights reserved.
//

//////////////////////////////////////////////////////////////////////////
//              *** YOU DON'T NEED TO MODIFY THIS FILE ***              //
// You can change these values directly in your Target's Build Settings //
//////////////////////////////////////////////////////////////////////////

////////////////
// PRODUCTION //
////////////////

// Default preprocessor macros that can be used with "#ifdef PRODUCTION"
GCC_PREPROCESSOR_DEFINITIONS = PRODUCTION=1

// Bundle ID
// *** In your Info.Plist set the "Bundle Identifier" to ${BUNDLEID} ***
BUNDLEID = jp.co.cyberagent.nbu.${PRODUCT_NAME:rfc1034identifier}

// Display name for device's home screen
// *** In your Info.Plist set the "Bundle display name" to ${DISPLAYNAME} ***
DISPLAYNAME = ${PRODUCT_NAME}

// Compatibility with custom configurations (ex. Release_stg)
// *** Override if necessary in your target's build settings ***
DEPENDENCIES_BUILD_DIR = $(BUILD_DIR)/Release$(EFFECTIVE_PLATFORM_NAME)

// Code Sign Identities
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Distribution

// Reduce file size
ONLY_ACTIVE_ARCH = NO
DEPLOYMENT_POSTPROCESSING = YES
COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES

////////////
// COMMON //
////////////

// Deployment targets: iPhone/iPad, iOS4.x+
TARGETED_DEVICE_FAMILY = 1,2
IPHONEOS_DEPLOYMENT_TARGET[sdk=iphoneos*] = 4.0
IPHONEOS_DEPLOYMENT_TARGET[sdk=iphoneos6.*] = 4.3
IPHONEOS_DEPLOYMENT_TARGET[sdk=iphonesimulator*] = 4.3

// Architectures
ARCHS[sdk=iphoneos*] = armv6 armv7
ARCHS[sdk=iphoneos6.*] = $(ARCHS_STANDARD_32_BIT)
ARCHS[sdk=iphonesimulator*] = i386

// Base SDK: Latest
SDKROOT = iphoneos

// Warnings
CLANG_WARN_OBJC_MISSING_PROPERTY_SYNTHESIS = YES

// Paths
ALWAYS_SEARCH_USER_PATHS = NO
FRAMEWORK_SEARCH_PATHS = "$DEPENDENCIES_BUILD_DIR"
HEADER_SEARCH_PATHS = "$(BUILT_PRODUCTS_DIR)/../../Headers" "$(BUILT_PRODUCTS_DIR)/include" "$(BUILT_PRODUCTS_DIR)/usr/local/lib/include" "$(BUILT_PRODUCTS_DIR)/usr/local/include"

